<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Tailspin.SpaceGame.Web.Model" value="https://solutionmania.pkgs.visualstudio.com/e6db5069-55e3-477f-9b45-855d81f1dbe8/_packaging/Tailspin.SpaceGame.Web.Model/nuget/v3/index.json" />
    </packageSources>
</configuration>
